:root {
  --headers: #212121;
  --logoblack: #000000;
  --hover: #2196f3;
  --text: #757575;
  --bcglite: #e5e5e5;
  --bcgdark: #2f303a;
  --bcgbutton: #f5f4fa;
  --white: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logoblack);
  margin-right: 93px;
}
.logo span {
  color: var(--hover);
}
.menu__link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--headers);
}
.menu__link_active {
  color: var(--hover);
}
.header__contacts {
  font-weight: 500;
  line-height: 1.14;
  color: var(--text);
}
.menu__link:hover,
.menu__link:focus,
.header__contacts:hover,
.header__contacts:focus {
  color: var(--hover);
}

/* hero */
.hi {
  background-color: var(--bcgdark);
}
.hi__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hi__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--hover);
  cursor: pointer;
}

/* about */
.item__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--headers);
}
.item_description {
  line-height: 1.71;
}

/* projects */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  color: var(--headers);
}

/* team */
.employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--headers);
}
.employee__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* footer */
.footer {
  background-color: var(--bcgdark);
}
.footer .logo {
  color: var(--white);
}
.footer__addres {
  line-height: 1.71;
  font-style: normal;
  color: var(--white);
}
.footer__contacts {
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.footer__addres:hover,
.footer__addres:focus,
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--hover);
}

/* СТОРІНКА ПОРТФОЛІО */

/* portfolio */
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  text-align: center;
  color: var(--headers);
  background-color: var(--bcgbutton);
  cursor: pointer;
}
.filter__button:hover {
  color: var(--white);
  background-color: var(--hover);
}
.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headers);
}
.portfolio__desrription {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text);
}
